html,
body,
#map {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 18%;
  left: 0;
  background-color: #a84747;
}

.right {
  width: 82%;
  right: 0;
  background-color: #d5d6d7;
}

#map {
  z-index: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: no-drop !important;
}

/** Aqui va el panel para botones**/
#square-topleft {
  background-color: red;
  clear: both;
  height: 35px;
  width: 25px;
  text-align: center;
  padding: 0px;
}

#ctrlnav a {
  position: absolute;
  top: -50px;
  transition: 0.3s;
  height: 60px;
  font-size: 12px;
  color: white;
}

#ctrlnav a:hover {
  top: 0;
}

#controls {
  left: 20%;
  background-color: #26b8c2;
}

/** Aqui va el Texto y/o  logos**/
#tleft {
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 1;
}

#bleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 1;
}

#midcenter {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  z-index: 1;
}

#middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/** Aqui va el SLIDER**/
#slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4c76af;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4c76af;
  cursor: pointer;
}

.leaflet-tile-pane {
  z-index: 1;
}

.leaflet-overlay-pane {
  z-index: 1;
}

.ctl {
  padding: 2px 10px 2px 10px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: right;
}

.title {
  font-size: 18pt;
  font-weight: bold;
}

.leaflet-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /****/
}

.info img {
  max-height: auto;
  height: 75px;
  display: inline-block;
  margin: auto;
}

.info h4,
h3,
h2 {
  margin: 0 0 5px;
  color: #5d5a5a;
  text-align: center;
}

.logo {
  height: 50px;
  width: auto;
}

.logo img {
  max-height: 55px;
  display: inline-block;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}
.logo img:hover {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.powered {
  height: 20px;
  width: auto;
}

.powered img {
  max-height: 25px;
  display: inline-block;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}
.powered img:hover {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.divswich {
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 0px;
  /* width: 50px;
  background-color: #555; */
}
/* barra de iconos */
.icon-bar {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 0px;
  width: 50px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #7ec281 !important;
}

#square-topleft {
  background-color: #26b8c2;
  clear: both;
  height: 25px;
  width: 20px;
  text-align: center;
  padding: 0px;
}

#ctrlnav a {
  position: absolute;
  top: -50px;
  transition: 0.3s;
  padding: 15px;
  height: 60px;
  text-decoration: none;
  color: white;
  border-radius: 0 5px 5px 0;
}

#ctrlnav a:hover {
  top: 0;
}

#controls {
  left: 20%;
  background-color: #26b8c2;
}
/* barra de iconos end*/

/* para botones*/
#staticdiv {
  position: absolute;
  z-index: 9;
  /* background-color: #f1f1f1; */
  text-align: center;
  /* border: 1px solid #d3d3d3; */
  bottom: 2%;
  left: calc(50% - 150px);
}

 .imswich {
  color: #000;
}

.imswich img {
  float: left;
  margin: 0 10px 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.imswich .text {
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  /* background-color: #f1f1f1; */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 30px;
  margin: 0 10px 0 -10px;
}

.imswich .text::after {
  content: "";
}

.imswich:hover .text {
  visibility: visible;
  opacity: 1;
}